@use '../config/globals' as *;
@use '../config/breakpoints' as *;
@use '../utilities/resize' as *;

.Nav {
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @include media(nav) {
    flex-direction: row;
    margin-right: -10px;
  }

  &-toggle {
    border: 2px solid transparent;
    background-color: g(bg-col);
    position: relative;

    &.active {
      border: 2px solid g(fg-col);
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px transparentize(g(sec-col), 0.65);
    }

    &:hover {
      color: g(sec-col);
    }

    @include media(nav) {
      display: none;
    } 
  }

  &-cover {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0.15;
    background-color: g(fg-col);

    &.hidden {
      display: none;
    }

    @include media(nav) {
      display: none;
    }
  }

  &-list {
    margin: 0;
    display: flex;
    flex-direction: column;
    border: 2px solid currentColor;
    padding: 15px 2px;
    position: absolute;
    top: calc(100% + 20px);
    min-width: 150px;
    background-color: g(bg-col);

    &.hidden {
      display: none;

      @include media(nav) {
        display: flex;
      }
    }

    @include media(nav) {
      position: static;
      min-width: none;
      border: none;
      padding: 0;
      flex-direction: row;
    }
  }

  &-item {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &:not(:first-child) {
      @include resize(margin-left, 10px, 25px);
    }
  }

  &-link {
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.06em;
    line-height: 1;
    padding: 10px 20px;
    @include resize(font-size, 17px, 19px);

    @include media(nav) {
      padding: 10px;
    }

    &:hover {
      color: g(sec-col);
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px transparentize(g(sec-col), 0.65);
    }
  }
}