@use '../config/globals' as *;
@use '../utilities/resize' as *;
@use 'sass:color';

.Wrapper {
  $this: &;
  @include resize(padding-left padding-right, 20px, 57px);

  &-container {
    margin: 0 auto;
    height: 100%;
    max-width: 700px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  &-anchor {
    position: fixed;
    border: 2px solid currentColor;
    overflow: hidden;
    background-color: g(bg-col);
    @include resize(width height, 45px, 46px);
    @include resize(bottom right, 12px, 30px);

    &:hover {
      background-color: g(ter-col);

      &::before {
        background-color: color.mix(g(sec-col), g(ter-col), 30%);
      }

      #{$this}-anchorIcon {
        color: g(sec-col);
      }
    }

    &:active {

      &::before {
        display: none;
      }

      #{$this}-anchorIcon {
        transform: translateY(2px);
      }
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px transparentize(g(sec-col), 0.65);
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: color.mix(g(fg-col), g(bg-col), 20%);
      height: 2px;
    }
  }

  &-anchorIcon {
    display: block;
    width: 100%;
    height: 100%;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 2px;
      height: 12px;
      background-color: currentColor;
      transform: translate(-50%, calc(-50% - 2px));
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 7px;
      height: 7px;
      border-top: 2px solid currentColor;
      border-left: 2px solid currentColor;
      transform: translate(-50%, calc(-50% - 4px)) rotate(45deg);
    }
  }
}