/**
 * 
 *  Underline Function
 *  ------------------
 *
 *  Sass conversion of Adam Schwartz's Smarter Link Underline
 *  https://eager.io/blog smarter-link-underlines/ including some minor adjustments.
 *  A hover colour must be specified so that the underline and text stay the same
 *  colour. This is because of a bug in webkit that prevents us from using the
 *  currentColor property.
 *  
 *  Usage:
 *  
 *  .link {
 *    @include underline(red, white, rgba(255, 255, 255, 0.8));
 *  }
 * 
 */

@use '../config/globals' as *;

@mixin underline(
  $bg-col: g(bg-col),
  $fg-col: g(fg-col),
  $line-col: mix(g(fg-col), g(bg-col), 70%),
  $position: 92%,
  $thickness: 1px,
  $transition: 0ms,
  $hover-bg-col: mix(g(fg-col), g(bg-col), 15%)) {
  
  color: $fg-col;
  transition: color $transition;
  background-position: 0% $position;
  background-image: linear-gradient($line-col, $line-col);
  background-size: 1px $thickness;
  background-repeat: repeat-x;
  text-decoration: none;
  text-shadow:
    0.04em 0 $bg-col, -0.04em 0 $bg-col, 0 0.04em $bg-col,
    0 -0.04em $bg-col, 0.07em 0 $bg-col, -0.07em 0 $bg-col,
    0.1em 0 $bg-col, -0.1em 0 $bg-col, 0.13em 0 $bg-col,
    -0.13em 0 $bg-col, 0.16em 0 $bg-col, -0.16em 0 $bg-col;

  &::selection, *::selection {
    text-shadow: none;
    background-color: transparentize(g(bg-col), 0.01);
    color: transparentize(g(fg-col), 0.01);
  }

  &:hover,
  &:focus {
    outline: none;
    -webkit-text-stroke: 0.02em currentColor;
    background-position: 0% 96%;
    background-size: 1px 2px;
  }
}